[submodule "frost"]
	path = frost
	url = https://github.com/arcticOS/frost
[submodule "subarctic"]
	path = subarctic
	url = https://github.com/arcticOS/subarctic
[submodule "pman"]
	path = pman
	url = https://github.com/arcticOS/pman
